# API Backend
NEXT_PUBLIC_API_URL="http://localhost:8000" # Obtener desde Render al desplegar el backend (ej: https://tu-backend.onrender.com)

# Cloudinary (Almacenamiento de imágenes)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="dzsrgcgq6" # Obtener desde cloudinary.com (Cloud Name)
NEXT_PUBLIC_CLOUDINARY_PRESET="PartidoYa_preset" # Upload preset configurado en Cloudinary
