# Configuración de Base de Datos
DATABASE_URL="postgresql+psycopg2://admin:admin123@localhost:5432/bdd_db" # Obtener desde Render (ej: postgresql+psycopg2://user:pass@host/db)

# Seguridad
SECRET_KEY="tu_clave_secreta_aqui" # Generar con `openssl rand -hex 32`

# Servicio de Email (Gmail SMTP)
SMTP_USERNAME="" # Tu correo de Gmail (ej: tucorreo@gmail.com)
SMTP_PASSWORD="" # Contraseña de aplicación de 16 caracteres. Generar en: https://myaccount.google.com/apppasswords
