# Configuración de Base de Datos
DATABASE_URL="postgresql+psycopg2://admin:admin123@localhost:5432/bdd_db" # Obtener desde Render (ej: postgresql+psycopg2://user:pass@host/db)

# Seguridad
SECRET_KEY="tu_clave_secreta_aqui" # Generar con `openssl rand -hex 32`

# Servicio de Email (SendGrid)
SENDGRID_API_KEY="" # Obtener desde app.sendgrid.com > Settings > API Keys
SENDGRID_SENDER_EMAIL="" # Tu correo de Gmail verificado como Single Sender en SendGrid
